.c__cat {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    span {
        padding: 10px 15px;
        background-color: var(--color-white);
        color: var(--color-primary);
        font-size: 14px;
    }
}
