// --------------------------------------------------
// Components: Form
// --------------------------------------------------

input[type="text"],
input[type="email"],
textarea,
select {
    background-color: transparent;
    padding: 10px 15px;
    border: 2px solid var(--color-primary);
    width: 100%;
    color: var(--color-primary);
    font-size: 18px;
}

textarea {
    width: 100%;
    max-height: 150px
}

input[type="submit"] {
    @extend .btn;
    @extend .btn__primary;
    margin-top: $s_md;
}

.wpcf7-not-valid-tip {
    font-size: 14px;
}

// checkbox
.wpcf7-acceptance  {

    display: block;
    margin: 20px 0 0 0;
    .wpcf7-list-item { margin: 0; }
    label { display: flex; }

    a { text-decoration: underline;  }
    a:hover { color: var(--color-primary); }
    span, a {
        font-size: 14px !important;
        @media ( min-width: 992px  ) {  font-size: 12px !important; }
        @media ( min-width: 1200px  ) {  font-size: 13px !important; }
    }

    input {
        opacity: 0;
    }

    input:not(:checked) + .wpcf7-list-item-label::after {
        opacity: 0;
    }

    .wpcf7-list-item-label {
        position: relative;
        padding-left: 1rem;
        &::before,
        &::after {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-15px, -50%);
            content: '';
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            // border: 1px solid $color-primary;
            border-radius: 100%;
            transition: all 0.3s;
            background-color: white;
        }
        &::after {
            border: 0;
            width: 0.9rem;
            height: 0.9rem;
            left: 0.3rem;
            opacity: 0;
            background-color: var(--color-primary);
            // border-radius: 0.3rem;
            opacity: 1;
        }
    }

}

/****** PLACEGOLDER ******/
::-webkit-input-placeholder { color: var(--color-primary) !important; transition: all .3s;  }
::-moz-placeholder { color: var(--color-primary) !important; transition: all .3s;  }
:-ms-input-placeholder { color: var(--color-primary) !important;  transition: all .3s; }
:-moz-placeholder { color: var(--color-primary) !important; transition: all .3s;  }