// --------------------------------------------------
//		Components: Marquee
// --------------------------------------------------

.splide_marquee {
    
    .splide__slide {
        padding: $s_md;
    }

    p {
        @extend %fs2;
        font-weight: bold;
        color: var(--color-white);
        text-transform: uppercase;
        padding: 0 25px;
        @include up(md) {
            padding: 0 40px;
        }
        @include up(xl) {
            padding: 0 50px;
        }
    }

    .marquee__main {
        position: relative;
        &:before, &:after {
            position: absolute;
            top: 50%;            
            content: '*';
            @extend %fs0;
            line-height: 0.5em;
        }
        &:before{
            left: 0;
            transform: translate(-100%, -10%);
        }
        &:after {
            right: 0;
            transform: translate(100%, -10%);
        }
    }

    .marquee__secondary {
        color: var(--color-black);
        text-shadow: 1px 1px 0 var(--color-white), -1px 1px 0 var(--color-white), -1px -1px 0 var(--color-white), 1px -1px 0 var(--color-white);
    }

}