// --------------------------------------------------
//		Settings: Buttons
// --------------------------------------------------

@use 'fonts' as *;
@use 'config_theme' as *;

// styles
$btn-font-family: $font-base;
$btn-font-weight: 400;
$btn-line-height: 1.2;
$btn-border-radius: 50px;
$btn-border-width: 2px;
$btn-outline-border-width: 2px;
$btn-case: none;

// sizes buttons
$btn-padding-y: $s_sm;
$btn-padding-x: $s_lg;

// Button Colors
$buttons-colors: (
    'primary': (
        color: var(--color-yellow),
        hover-color: var(--color-yellow),
        hover-bg: var(--color-primary-dark),
        hover-border-color: var(--color-primary-dark),
    ),
    'secondary': (
        color: var(--color-primary),
        hover-color: var(--color-primary),
        hover-bg: var(--color-primary-light),
        hover-border-color: var(--color-primary-light)
    ),
    'outline-primary': (
        color: var(--color-primary),
        hover-color: var(--color-yellow),
        hover-bg: var(--color-primary),
        hover-border-color: var(--color-primary)
    )
);
