// --------------------------------------------------
//		Settings: Colors
// --------------------------------------------------

$colors: (

    'primary': (
        base: #124EB8,
        light: #7DCFEF,
        dark: #072B60
    ),

    'secondary': (
        base: #FEA9BB
    ),

    'yellow': (
        dark: #FCE67A,
        base: #FFF6CF,
        light: #FFFDF5
    ),

    'green': (
        base: #21BDAB
    ),

    'orange': (
        base: #F77D69
    ),

    'black': (
        base: #171717,
        light: #222222
    ),

    'white': (
        base: white
    )

);
