// --------------------------------------------------
//		Settings: Colors
// --------------------------------------------------

$colors: (
    'primary': (
        base: #f4c93b
    ),

    'secondary': (
        base: #48a4c7
    ),

    'grey': (
        dark: #232323,
        base: #5c5c5c,
        light: #6b6b6b
    ),

    'black': (
        base: #171717,
        light: #222222
    ),

    'white': (
        base: white
    )
);
