// --------------------------------------------------
//		Settings: Fonts
// --------------------------------------------------

// Font base
$font-base: "Work Sans", sans-serif;
$font-heading: "Antonio", sans-serif;
$font-weight-base: 400;

$font-sizes: (
    0: (
        desktop: (
            max: 150,
            min: 100
        ),
        mobile: (
            max: 120,
            min: 80
        )
    ),
    1: (
        desktop: (
            max: 100,
            min: 70
        ),
        mobile: (
            max: 80,
            min: 60
        )
    ),
    2: (
        desktop: (
            max: 70,
            min: 50
        ),
        mobile: (
            max: 60,
            min: 40
        )
    ),
    3: (
        desktop: (
            max: 52,
            min: 42
        ),
        mobile: (
            max: 48,
            min: 28
        )
    ),
    4: (
        desktop: (
            max: 42,
            min: 30
        ),
        mobile: (
            max: 32,
            min: 24
        )
    ),
    5: (
        desktop: (
            max: 28,
            min: 24
        ),
        mobile: (
            max: 24,
            min: 20
        )
    ),
    6: (
        desktop: (
            max: 18,
            min: 16
        ),
        mobile: (
            max: 18,
            min: 16
        )
    )

);
