// --------------------------------------------------
//	Helpers: Flex
// --------------------------------------------------

.d-flex {
    display: flex;
}

// justify
.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

// align
.align-center {
    align-items: center;
}

.align-top {
    align-items: flex-start;
}

.align-bottom {
    align-items: flex-end;
}