body {
    .bg-transparent {
        background-color: transparent;
    }
    .bg-purple {
        background-color: color('purple');
    }
    .bg-orange {
        background-color: color('orange');
    }
    .bg-green {
        background-color: color('green');
    }
    .bg-pink {
        background-color: color('pink');
    }
    .bg-pink-light {
        background-color: color('pink', 'light');
    }
    .bg-blue {
        background-color: color('blue ');
    }
    .bg-white {
        background-color: color('white');
    }
    .bg-custom {
        background-color: unset;
    }

    .module {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
