// --------------------------------------------------
//		Modules: Common: Background
// --------------------------------------------------

.module {
    background-color: var(--color-black);
}

.module__background {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    height: 100%;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
}

.module__content {
    position: relative;
    z-index: 50;
}