// --------------------------------------------------
//		Modules: Common: Background
// --------------------------------------------------

.module__buttons {
    display: flex;
    gap: $s_sm;
    margin-top: $s_lg;
}