// --------------------------------------------------
//	Components: Menu: Language
// --------------------------------------------------

.lang_selector {
    
    opacity: 0;
    display: flex;    
    margin-top: $s_sm;

    span, a {
        @extend %fs4;
        font-weight: bold;
        color: var(--color-white);
        text-decoration: none;
    }

    span {
        color: var(--color-primary);
    }

    li + li {
        &:before {
            content: '/';
            @extend %fs4;
            font-weight: bold;
            margin: 0 2px;
        }
    }

}