// --------------------------------------------------
//	Modules: Words
// --------------------------------------------------

.words {
    
    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        @include up(md) {
            gap: 30px;
        }
    }
    
    .item {
        display: inline;
        font-family: $font-heading;
        @extend %fs3;
        font-weight: bold;
        line-height: 1.2;
        display: flex;
        align-items: center;
        @include up(md) {
            line-height: 1.5;
        }
        &:nth-child(odd) {
            color: var(--color-primary-dark)
        }
    }

    .module__buttons {
        justify-content: center;
    }

}