// --------------------------------------------------
//	Layout: Content
// --------------------------------------------------

#wrapper {
    background-color: var(--color-black);
    position: relative;
    z-index: 10;
}