// --------------------------------------------------
//	Layout: Footer
// --------------------------------------------------

.site-footer { 

    background-color: var(--color-yellow-dark);   

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-secondary);        
        padding: 5px;
        font-size: 13px;
        font-weight: bold;
    }
    
    &__inside {
        @extend %plr-small;
        padding-top: $s_lg;
        padding-bottom: $s_lg;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include down(md) {
            flex-direction: column;
            gap: 30px;
            padding-top: $s_xl;
            padding-bottom: $s_xl;
        }
    }

    &__contact {

        display: flex;
        align-items: flex-end;
        gap: 30px;

        @include down(md) {
            flex-direction: column;
            text-align: center;
        }

        p, a {
            font-size: 18px;
            line-height: 1.5em;
            @include up(lg) {
                font-size: 20px;
                margin-bottom: -5px;
            }
        }

        img {
            width: 120px;
            height: auto;
            @include up(lg) {
                width: 180px;
            }
        }

    }
    

}
