// --------------------------------------------------
//	Layout: Header
// --------------------------------------------------

.site-header {    

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;    
    transition: all 0.3s;

    &.hide-menu {
        transform: translateY(-100%);
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-secondary);        
        padding: 5px;        
        p {
            font-size: 14px;
            font-weight: bold;
            text-align: center
        }
    }

    &__inside {
        @extend %plr-small;
        padding-top: $s_sm;
        padding-bottom: $s_sm;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 15px;
        @include up(md) {
            gap: 30px;
        }
    }
    
    .main-navigation {
        @include down(lg) {
            display: none;
        }
    }

}

.shrink .site-header {
    background-color: var(--color-yellow-light);
}
