// --------------------------------------------------
//	Layout: Header
// --------------------------------------------------

.site-header {

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s;

    @include up(md) {
        
        padding-left: $d_md;
        padding-right: $d_md;
        padding-top: $d_md;
    }

    .header__menu {

        position: relative;

        .header__burger {
            position: relative;
            z-index: 100;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 200;
                width: 16px;
                height: 16px;
            }

            .icon-cross {
                display: none;
            }
        }

        .sidenav {
            position: absolute;
            top: -20px;
            right: -20px;
            z-index: 99;

            @include up(md) {
                top: -10px;
                right: -10px;
            }
        }
    }
}
