// --------------------------------------------------
//	Layout: Header: Brand
// --------------------------------------------------

.site-header__brand {    

    img {
        max-width: 120px;
        @include up(md) {
            max-width: 180px;
        }
        @include up(xl) {
            max-width: 215px;
        }
    }
    
}
