// --------------------------------------------------
//  Modules: Claim
// --------------------------------------------------

.claim {       
    p {
        @extend %fs3;
        line-height: 1.2em;
        font-family: $font-heading;
        font-weight: bold;
    }    
}